.navbar-brand {
    color: #fff;
}

.treeview-menu li {
    margin-left: 10px;
}

.sidebar-menu .rotate-when-active {
    transform: rotate(0);
    transition: transform 100ms;
}

.sidebar-menu .active .rotate-when-active {
    transform: rotate(-90deg);
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.flex-sidebar.sidebar {
    display: flex;
}

.treeview.tree-browser.autostretch {
    flex: 1;
    overflow-y: auto;
    overflow-x: visible;
}

.skin-blue .sidebar {
    border-bottom-width: 0;
}

ul.treeview-menu {
    padding-left: 0;
}

.treeview.tree-browser > ul.treeview-menu {
    display: block;
    transition: all 200ms ease-in-out;
    max-height: 0;
}


.treeview.tree-browser.active > ul.treeview-menu {
    display: block;
    max-height: 5000px;
}

.treeview.tree-browser li.active {
    background-color: #fff;
}

.treeview-menu .dropdown-menu {
    left: auto;
    right: 0;
}

.box {
    border-radius: 0;
}

.ace_editor, iframe.preview {
    box-sizing: border-box;
    flex: 1;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.workspace {
    background-color: #ccc;

    display: flex;
    flex: 1;
}

aside.flex-sidebar {
    width: 240px;
    padding: 8px 0;
}

aside.flex-main-area {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 8px 0;
}

aside.flex-main-area .half-column {
    flex: 0.5;
    margin: 0 6px;
    display: flex;
    flex-direction: row;
}

li.file-control {
    display: flex;
}

li.file-control > a {
    flex: 1;
}

.dropdown.file-settings {
    display: none;
}

.dropdown.file-settings > button {
    background: inherit;
    margin: 0;
    border: 0;
    padding: 4px 5px;
}

li:hover > .dropdown.file-settings, li > .dropdown.file-settings.open {
    display: block;
}

div.modal.fade.in {
    background-color: rgba(0,0,0,.3);
}

.modal-body .treeview.tree-browser.active .treeview-menu {
    max-height: 60vh;
    overflow-y: scroll;
}

aside.flex-main-area .half-column.vertical {
    flex-direction: column;
}

.minibrowser span.prefix {
    border: 1px solid #bbb;
    padding: 2px;
    padding-right: 2px;
    margin-right: -1px;
    border-right: 0;
}

.minibrowser input {
    margin-left: -2px;
    border: 1px solid #bbb;
    border-left: 0;
}

.sidebar .sidebar-menu .treeview-menu > li.dropzone > a {
    border: 2px dashed #ddd;
    margin: 0 6px 8px;
    padding: 3px 3px 3px 7px;
}

.sidebar .sidebar-menu .treeview-menu > li.dropzone {
    padding-bottom: 6px;
}

.sidebar .sidebar-menu .treeview-menu > li.dropzone.nv-file-over,
.sidebar .sidebar-menu .treeview-menu > li.dropzone.nv-file-over > a {
    padding-bottom: 30px;
}

input.file_upload_widget {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}