.navbar-brand {
    color: #fff;
}

.treeview-menu li a {
    margin-left: 10px;
}

.sidebar-menu .rotate-when-active {
    transform: rotate(0);
    transition: transform 100ms;
}

.sidebar-menu .active .rotate-when-active {
    transform: rotate(-90deg);
}

.sidebar .sidebar-menu .treeview.tree-browser > ul.treeview-menu {
    display: block;
    transition: all 200ms ease-in-out;
    max-height: 0;
    overflow: hidden;
}


.sidebar .sidebar-menu .treeview.tree-browser.active > ul.treeview-menu {
    display: block;
    max-height: 5000px;
}

.treeview.tree-browser li.active {
    background-color: #fff;
}

.box {
    border-radius: 0;
}

.ace_editor, iframe.preview {
    box-sizing: border-box;
    flex: 1;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.workspace {
    background-color: #ccc;

    display: flex;
    flex: 1;
}

aside.flex-sidebar {
    width: 220px;
}

aside.flex-main-area {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 8px 0;
}

aside.flex-main-area .half-column {
    flex: 0.5;
    margin: 0 6px;
    display: flex;
    flex-direction: row;
}

aside.flex-main-area .half-column.vertical {
    flex-direction: column;
}

.minibrowser span.prefix {
    border: 1px solid #bbb;
    padding: 2px;
    padding-right: 2px;
    margin-right: -1px;
    border-right: 0;
}

.minibrowser input {
    margin-left: -2px;
    border: 1px solid #bbb;
    border-left: 0;
}
