<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/bower_components/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/AdminLTE/css/AdminLTE.css">
        <link rel="stylesheet" href="/static/admin/main.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>

    <body ng-app="gyro" ng-controller="Fiddler" class="skin-blue" nv-file-drop="" uploader="uploader">

        <header class="header">
            <a href="/" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Gyroplane
            </a>
            <nav role="navigation" class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="#"><i class="fa fa-play"></i> Run</a></li> -->
                            <% if context.authorized %>
                            <li>
                                <a ng-click="save()" href="#">
                                    <i class="fa fa-pencil {{ save_in_progress && 'fa-spin' || '' }}"></i>
                                    Save
                                </a>
                            </li>
                            <% endif %>
                        </ul>
                        <% if not context.authorized %>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% context.login_url %}"><i class="fa fa-user"></i> Sign In</a></li>
                        </ul>
                        <% endif %>
                    </div>
                </div>
            </nav>
        </header>

        <div class="workspace ng-cloak">
            <aside class="flex-sidebar sidebar">
                    <!-- search form --
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">

                        <li class="treeview tree-browser active">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Domains</span>
                                <i class="fa fa-fw fa-angle-left pull-right rotate-when-active"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li ng-repeat="domain in domains" class="active file-control">
                                    <a ng-click="edit_domain(domain)" href="#">
                                        <span ng-if="editing_domain.from != domain">{{ domain }}</span>
                                        <input ng-if="editing_domain.from == domain" type="text"
                                               ng-model="editing_domain.to"
                                               ng-keydown="domain_keydown($event)"
                                               focus-on="renaming_domain" />
                                    </a>

                                </li>

                                <li class="file-control">
                                    <a href="#" ng-click="add_new_domain()"><i class="fa fa-plus"></i> add domain</a>
                                </li>

                            </ul>
                        </li> <!-- -->
                        <li class="treeview tree-browser active">
                            <a href="#" ng-click=";">
                                <i class="fa fa-folder"></i>
                                <span>Files</span>
                                <i class="fa fa-fw fa-angle-left pull-right rotate-when-active"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li ng-repeat="(name, data) in files | orderBy:name"
                                    ng-class="{active: name==active_file, 'file-control': 1}">

                                    <a ng-click="edit_file(name, $event)" href="#">
                                        <i class="fa fa-file-code-o"></i>
                                        <span ng-if="renaming.file != name">{{ name }}</span>
                                        <input ng-if="renaming.file == name" type="text" ng-model="renaming.to"
                                            ng-keydown="renaming_keydown($event)"
                                            focus-on="renaming_input" />
                                    </a>
                                    <div ng-if="name != 'main.py'" class="dropdown file-settings">
                                        <button class="dropdown-toggle">
                                            <i class="fa fa-fw fa-cog"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#"
                                                   ng-click="rename_file(name)">Rename</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#"
                                                   ng-click="delete_file(name)">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a ng-click="new_file()" href="#"><i class="fa fa-plus"></i> new file</a>
                                </li>
                                <li class="dropzone" nv-file-over="" uploader="uploader">
                                    <a ng-click="open_upload()" href="#">
                                        <i class="fa fa-upload"></i> drop or upload files
                                    </a>
                                    <input class="file_upload_widget" nv-file-select upload-signal="button"
                                           uploader="uploader"
                                           type="file" multiple="" />
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="treeview tree-browser {{ expanded_database && 'active' }}"> --
                            <a href="#" ng-click="expanded_database = !expanded_database">
                                <i class="fa fa-database"></i>
                                <span>Database</span>
                                <i class="fa fa-fw fa-angle-left pull-right rotate-when-active"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-table"></i> Users</a></li>
                                <li><a href="#"><i class="fa fa-table"></i> Sessions</a></li>
                                <li><a href="#"><i class="fa fa-table"></i> Games</a></li>
                                <li><a href="#"><i class="fa fa-table"></i> Messages</a></li>
                            </ul>
                        </li> <!-- -->
                    </ul>
                    <!-- -->
            </aside>
            <aside class="flex-main-area">

                <div class="half-column box box-primary">
                    <div class="ace_editor" ng-model="files[active_file]" ui-ace="{
                            theme: 'tomorrow',
                            mode: 'python',
                            showGutter: true,
                        }">Ace editor still loading...</div>
                </div>

                <div class="half-column vertical box box-primary">

                    <p class="box-footer minibrowser" ng-if="fiddle_id">
                        <span class="prefix">{{ url_prefix() }}</span>
                        <input type="text" ng-model="$parent.url_suffix"/>
                        <a ng-click="refresh_iframe()">
                            <i class="fa fa-fw fa-arrow-circle-o-right" ng-click="refresh_iframe()"></i>
                        </a>
                        <a href="{{ iframe_url }}" target="_blank">
                            <i class="fa fa-fw fa-external-link"></i>
                        </a>
                    </p>

                    <iframe class="preview" ng-src="{{ iframe_url }}"></iframe>
                </div>

            </aside>
        </div>


    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="/static/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/static/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="/static/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="/static/bower_components/angular-ui-ace/ui-ace.min.js"></script>
    <script type="application/javascript">
        window.Gyroplane_Context = {% context|tojson|safe %};
    </script>
    <script src="/static/admin/main.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-56074067-1', 'auto');
ga('send', 'pageview');
</script>

<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("22faeedee947f19f9432bd44cfebe843");</script><!-- end Mixpanel -->

    </body>
</html>